:root {
  /* Font sizes */
  --font-sm: 18px;
  --font-md: 24px;
  --font-lg: 36px;
  --font-xl: 48px;

  /* Font weights */
  --font-weight-quiet: 200;
  --font-weight-strong: 600;
  --font-weight-title: 900;

  /* Spacing */
  --space-xxs: 8px;
  --space-xs: 16px;
  --space-sm: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xl: 96px;
  --space-xxl: 120px;

  /* Colors */
  --color-light: #F9FAF8;
  --color-muted: #E5E7EB;
  --color-gray: #686F7A;
  --color-dark: #1F2937;
  --color-accent: #3882F6;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1000px;
  margin: 0 auto;
}

.button {
  font-family: inherit;
  font-size: var(--font-sm);
  font-weight: var(--font-weight-strong);
  color: var(--color-light);
  background-color: var(--color-accent);
  width: 135px;
  height: 40px;
  border-radius: 8px;
  flex-shrink: 0;
}

.button--no-border {
  border-style: none;
}

.button--white-border {
  border: 2px solid white;
}

header {
  background-color: var(--color-dark);
  padding: var(--space-xs);
}

.header__logo {
  font-size: var(--font-md);
  font-weight: var(--font-weight-title);
  color: var(--color-light);
}

.header__links {
  list-style: none;
  display: flex;
  gap: var(--space-sm);
}

.header__link {
  text-decoration: none;
  font-size: var(--font-sm);
  color: var(--color-muted);
}

.hero {
  background-color: var(--color-dark);
  padding: var(--space-xxl) var(--space-xs);
}

.hero__text {
  display: flex;
  flex-direction: column;
  width: 470px;
  gap: var(--space-xxs);
}

.hero__main-text {
  font-size: var(--font-xl);
  font-weight: var(--font-weight-title);
  color: var(--color-light);
}

.hero__secondary-text {
  font-size: var(--font-sm);
  color: var(--color-muted);
}

.hero__image-placeholder {
  font-size: var(--font-sm);
  color: var(--color-light);
  background-color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 520px;
  height: 240px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-lg) 0 var(--space-xxl);
}

.information__title {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-title);
  color: var(--color-dark);
}

.information__card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-lg);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xxs);
}

.card__image {
  width: 170px;
  height: 170px;
  border: 4px solid var(--color-accent);
  border-radius: 16px;
}

.card__text {
  font-size: var(--font-sm);
  color: var(--color-gray);
  text-align: center;
  width: 170px;
}

.quote {
  background-color: var(--color-muted);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-xxl) 0;
}

.quote__content {
  max-width: 780px;
  width: 100%;
}

.quote__text {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-quiet);
  font-style: italic;
}

.quote__attribution {
  font-size: var(--font-md);
  font-weight: var(--font-weight-strong);
  text-align: right;
  padding-right: var(--space-md);
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-xl) 0;
}

.cta__content {
  background-color: var(--color-accent);
  display: flex;
  align-items: center;
  gap: var(--space-xxl);
  padding: var(--space-lg) var(--space-xxl);
  border-radius: 8px;
}

.cta__main-text {
  font-size: var(--font-md);
  font-weight: var(--font-weight-strong);
  color: var(--color-light);
}

.cta__secondary-text {
  font-size: var(--font-sm);
  color: var(--color-muted);
}

footer {
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-md) 0;
}

.footer__text {
  font-size: var(--font-sm);
  color: var(--color-light);
}